absl-py==2.1.0
beautifulsoup4==4.12.3
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-Cors==4.0.1
frozendict==2.4.4
h5py==3.11.0
html5lib==1.1
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
keras==3.4.1
lxml==5.2.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
multitasking
namex
numpy
optree
packaging
panda
pandas
peewee
platformdirs
Pygments
python-dateutil
requests
scikit-learn
scipy
soupsieve
threadpoolctl
typing_extensions
tzdata
urllib3
webencodings
Werkzeug
yfinance
Pillow